$background_blue: #85DCB8;
$accent_red: #E27D60;
$accent_orange: #E8A87C;
$accent_pink: #C38D9E;
$burnt_sienna: #DD6E42;
$deep_blue: #41B3A3;
$raisin_black: #211A1D;

@mixin auto-margin() {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: $deep_blue;
  color: $raisin_black;
}

h2 {
  text-align: center;
}

.card {
  margin-bottom: 2rem;
  .card-header, .card-footer {
    background-color: $background_blue;
    a {
      color: $burnt_sienna;
      font-weight: bold;
      &:hover {
        color: $accent_orange;
        font-weight: bolder;
      }
    }
  }
  .card-body {
    background-color: white;
    color: $raisin_black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    .form-group {
      align-self: flex-start;
    }
    button {
      align-self: flex-end;
    }
  }
}

nav {
  background-color: $accent_red;
  .navbar-nav {
    color: $raisin_black;
  }
}

@function alpha-fix($color) {
  $red: red($color);
  $green: green($color);
  $blue: blue($color);
  @return rgba($red, $green, $blue, 0.5);
}

@mixin button-gen($button-color, $float-over) {
  color: $button-color;
  border-color: $button-color;
  font-weight: bold;
  &:hover {
    color: $float-over;
    background-color: $button-color;
    border-color: $button-color;
  }
  &:focus, &.focus {
    box-shadow: 0 0 0 0.2rem alpha-fix($button-color);
  }
  &:disabled, &.disabled {
    color: $button-color;
    background-color: transparent;
  }
  &:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active {
    color: $float-over;
    background-color: $button-color;
    border-color: $button-color;
  }
  &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(:disabled):not(.disabled).active:focus {
    box-shadow: 0 0 0 0.2rem alpha-fix($button-color);
  }
}

.btn-accent-orange {
  @include button-gen($accent_orange, $raisin_black);
}

.btn-deep-blue {
  @include button-gen($deep_blue, $raisin_black);
}

.checkbox-container {
  @include auto-margin();
  font-weight: bold;
  color: $raisin_black;
}

.account-card-wrapper {
  @include auto-margin();
  .card {
    min-width: 48vw;
    .card-header {
      text-align: center;
      font-weight: bolder;
    }
  }
}